/*Default color options are:
Green - #99CD4E, #7EA840, #fff
Orange - #ED6332, #AD4723, #fff
Sea Foam - #25B36A, #128C4D, #fff
Purple - #8943E6, #591DA8, #fff
Pink - #E34BA1, #A6246E, #fff
They are in this order: $main-color, $main-dark, $box-head-text-color
*/

/*And now the SCSS...*/


/* links */
$main-color: #25B36A;
$main-dark: #128C4D;
$box-head-text-color:#fff; /*make sure this is visible over the $main-color*/

.button {
    background-image: -webkit-linear-gradient(top,$main-color,$main-dark) !important;
    border-width: 0px;
}
.button > span {
    color:$box-head-text-color;
    text-shadow:0 1px $main-dark;
}
.dropdown .dropdown-menu li:hover {
    background:$main-color;
    color:$box-head-text-color;
}
.button:hover {
        background-image: -webkit-linear-gradient(top,$main-dark,$main-color) !important;
}
ul#tabs a{
  color: $box-head-text-color;
}
a.right {
  color: $box-head-text-color !important;
}
a.right:hover {
  color: #454545 !important;
}
.dropdown-menu > li:hover {
  background:$main-color !important;
}
div#pagewrapper a:hover, div#pagewrapper a:active, div#pagewrapper a.black:hover, div#pagewrapper a.black:active {
	color: $main-dark !important;
}
ul#tabs > li:hover > a, .tabs-index > ul > li:hover > a {
  color: $main-dark; }
ul#tabs > li.active > a, .tabs-index > ul > li.active > a {
  color: $box-head-text-color !important;
}
span#owner {
    color:white !important;        
}
a#djangobbwrap {
 color:white !important;     
      }
.notice {
  color:$box-head-text-color !important; /*This is an element created by the "message filter" userscript. */
}
/* search */
#topnav form.search input {
	border-radius: 5px !important;
}
/* no favorites, projects etc */
.empty-field {
	background-color: $main-color !important;
	border: 1px solid $main-dark !important;
}
/* footer */
#footer {
	background-color: #343434 !important;
	color: white;
	opacity: 0.8;
    box-shadow:none;
}
div#footer a {
	color: white !important;
	font-weight: bold;
}
/* top nav */
div#pagewrapper #topnav, div#pagewrapper #topnav .innerwrap, header {
    background-color: $main-color !important;
}
div#pagewrapper #topnav  a{
	color: #FFFFFF !important;
}
div#pagewrapper #topnav ul.site-nav li, div#pagewrapper #topnav ul.site-nav li.last, div#pagewrapper #topnav ul.account-nav>li, ul.left li, ul.left li a {
	border: none !important;
}
/* hover */
div#pagewrapper #topnav ul.account-nav>li.sign-in:hover, div#pagewrapper #topnav ul.account-nav>li.sign-in.open, div#pagewrapper ul.site-nav li:hover, #topnav ul.account-nav.logged-in li:hover, ul.left li a:hover {
	background: $main-dark !important;
}
div#pagewrapper #topnav ul.account-nav>li.join-scratch:hover,  {
	background: $main-dark !important;
}
/* sign in box */
/* arrow */
div#pagewrapper #topnav ul.account-nav .sign-in .popover .arrow:after {
	border-bottom-color: $main-dark !important;
}
/* box */
div#pagewrapper #topnav ul.account-nav .sign-in .popover {
	background-color: $main-dark !important;
	border-color: #343434 !important;
}
div#pagewrapper #topnav ul.account-nav .logged-in-user .dropdown-menu, #userfctdropdown {
	background-color: $main-dark !important;
}
div#pagewrapper #topnav ul.account-nav ul.user-nav li.logout.divider {
	border-top: 2px solid #343434 !important;
}
#userfcttoggle, header li.last, header li a {
  border:0px !important;
}
#userfcttoggle a:hover, #userfctdropdown li a:hover {
  background:$main-dark !important;
}
div#pagewrapper #topnav ul.account-nav .logged-in-user.dropdown.open, #userfcttoggle.open, #userfcttoggle:hover {
  background-color: $main-dark !important;
}
.blockpost .box-head, article.box h1 {
  border-top:0px;
}
/* video */
div#pagewrapper .homepage-banner .video {
	border-radius: 10px !important;
	background-color: #E1E1E1 !important;
}
div#pagewrapper li {
	transition: all .5s !important;
}
/* box tops */
div#pagewrapper .box, .box h1 {
	background: $main-color !important;
	border: 0.5px solid $main-dark !important;
}
.box h1 {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.mw-headline {
  color:$main-color;
  text-shadow:none;
}
.box-head h1, .box-head h2, .box-head h3, .box-head h4, .box-head h5, .box-head h6, h1, h2, h3, h4, h5, h6 {
  color:$box-head-text-color;
  text-shadow:$main-dark 0px 1px 0px;
}
footer {
  background-color: #343434 !important;
  color: white !important;
  opacity: 0.8;
  box-shadow: none;
}
footer ul a {
  color:white !important;
}
footer li h4 {
  color:#666 !important;
  text-shadow:none;
}
/* title */
div#pagewrapper .intro .title {
	color: #343434 !important;
	font-weight: bold !important;
}
/* show more replies */
#comments .more-replies .pulldown {
    color: $main-color !important;
}
.dropdown-toggle > .caret {
  margin-top:-3px;
  transition:.2s;
  }
.dropdown-toggle:hover > .caret {
    margin-top:5px;
    }
ul#tabs > li:hover > a, .tabs-index > ul > li:hover > a {
  color:$main-dark;
}
::selection {
  background: $main-dark;
}
::-moz-selection {
  background: $main-dark;
}
