.msu-settings #spacer {
	height: 1em;
}

.msu-settings-note {
	position: absolute;
	bottom: 0px;
	left: 10px;
}

#msu-settings-dialog {
	overflow: hidden;
}

.msu-settings {
    border-spacing: 0px;
    width: 100%;
    height: 100%;
}

.msu-settings-divider {
	margin: 1em 0 1em 0;
	padding: 0;
	width: 100%;
	height: 2px;
	background: #777;
}

.msu-settings-side-tabs {
    list-style-type: none;
    margin-right: 0;
}
.msu-settings-side-tabs li {
    display: block;
    border: 1px solid gray;
    border-bottom: none;
    border-right: none;
    padding: 0.3em;
    margin-right: 0;
	margin-bottom: 0;
    transition: background 0.5s;
}
.msu-settings-side-tabs li:hover, .msu-settings-side-tabs li.sel {
    background: #ddd;
}
.msu-settings-side-tabs li.sel label {
    color: #4455ff;
    font-weight: bold;
}

.msu-settings-side-tabs li input {
	margin-right: 1em;
	vertical-align: middle;
	float: left;
	clear: right;
}

.msu-settings-side-tabs li:first-child {
    border-top-left-radius: 10px;
    margin-top: 30px;
}
.msu-settings-side-tabs li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid gray;
}
.msu-settings-side-tabs-td {
    margin: 0;
    padding: 0;
    width: 30%;
	vertical-align: top;
}
.msu-settings-content {
    border: 1px solid gray;
    border-radius: 15px;
    vertical-align: top;
    padding: 10px;
    margin: 0;
}
.msu-settings-content-div {
	overflow-y: auto;
	height: 100%;
}